/*
 Theme:
https://coolors.co/0081a7-00afb9-fdfcdc-fed9b7-f07167

#0081a7 #00afb9 #fdfcdc #fed9b7 #f07167

*/
body{
    
    overflow: hidden;
    margin:0;
}
#background{
    background-color:#fdfcdc;
    position: fixed;
    z-index:-1;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
#main-container{
    height:100vh;
}
.right{
    align-self: flex-end;
}
.calculator-container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
button{
    width:3em;
    height:3em;
    font-size:0.9em;
    background-color:#fed9b7;
    border:1px solid transparent;
    transition:all 0.2s;
    padding:0.75em;
    margin:0.1em;
    cursor: pointer;
    opacity:0.9;
}
button:hover{
    background-color:#E4C3A4;
    font-weight: 150%;
    opacity:1;
}
button:active{
    background-color:#f07167;
    border:1px solid #00afb9;
}
button:focus{
    outline:none;
}
.cal-total{
    text-align:right;
    font-size:1.2em;
    height:0.8em;
}
#history-screen{
    opacity: 0.8;
    background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.9));
}
#sign{
    text-align:left;
    position: relative;
}
#calculator{
    position:relative;
    top:0;
    left:0;
    border-radius:5%;
    border:1px solid black;
    background: rgba(255, 255, 255, 0.5);
    float:left;
    padding: 1.2em 0.8em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    box-shadow:rgba(0, 0, 0, 0.2) 10px 10px 20px;
}
button, #calculator p{
    font-family: 'Quicksand', sans-serif;
}
#add-button{
    position: absolute;
    font-size: 1.5em;
    font-weight: bolder;
    bottom:0;
    right:0;
    width:auto;
    text-align: center;
}
.b, .b > button{
    font-weight:bold;
}
#options-tab{
    width:calc(200px+2em);
    background:#67aeb3;
    transition: height 0.5s ease-out;
    right:0;
    position: absolute;;
    z-index:4;
    bottom:0;
    color:#fff;
    overflow:hidden;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
}
#option-tab:hover{
    padding:20px 15px;
}
.copy{
    position: absolute;
    bottom:0;
    font-size:10px;
    font-family: 'Quicksand', sans-serif;
}